<?xml version='1.0' encoding='utf-8'?>
	<widget id="com.sadhgamaya.devam" versionCode = "120"  version="1.2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Devamela</name>
    <description>
        Devamela : Complete Guide to Arattupuzha pooram.
    </description>
    <author email="karthik.tpl@gmail.com">
        Karthik T Narayanan
    </author>
    <content src="index.html" />
	<preference name="phonegap-version"  value="cli-6.5.0" />
	<preference name="android-minSdkVersion" value="15" />
    <preference name="DisallowOverscroll" value="true"/>
	<preference name="android-build-tool" value="gradle" />	
	<preference name="Orientation" value="portrait" />   
	<gap:plugin name="org.apache.cordova.network-information" source="npm" />
    <icon src="res/icon.png" />    
    <access origin="*" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

<engine name="android" spec="~4.1.1" />
</widget>
